<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjy.job.carrental.mapper.ICarModelExtendMapper">
    <sql id="Base_Column_List">
      id, name, type, price, picture_url, detail, sts, create_time, create_user,update_time,update_user
    </sql>
    <select id="selectByCondition1" parameterType="java.lang.Integer" resultType="com.zjy.job.carrental.domain.CarModel">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        car_model where id=#{id}
    </select>
</mapper>